{include file="/layout/header"}
<h1>
    <span class="action-span"><a href="/index.php/admin/Admin/lst">管理员列表</a></span>
    <span class="action-span1"><a href="#">修改管理员</a></span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form name="main_form" method="POST" action="" enctype="multipart/form-data" >
    	<input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
        <table cellspacing="1" cellpadding="3" width="100%">
            <?php if($data['id'] > 1): ?>
            <?php if($adminId ==1): ?>
            <tr>
                <td class="label">所在角色：</td>
                <td>
                    <?php foreach ($roleData as $k => $v):
                    if(strpos(','.$rid.',', ','.$v['id'].',') !== FALSE)
                    $check = 'checked="checked"';
                    else
                    $check = '';
                    ?>
                    <input {$check} type="checkbox" name="role_id[]" value="{$v.id}" /> {$v.role_name}
                    <?php endforeach; ?>
                </td>
            </tr>
            <?php endif; ?>
            <?php endif; ?>
            <tr>
                <td class="label">账号：</td>
                <td>
                    <?php echo $data['username']; ?>
                    <input type="hidden" value="<?php echo $data['username']; ?>" name="edit_name" />
                </td>
            </tr>
            <tr>
                <td class="label">密码：</td>
                <td>
                    <input type="password" size="25" name="password" />
                    留空代表不修改密码
                </td>
            </tr>
            <tr>
                <td class="label">确认密码：</td>
                <td>
                    <input type="password" size="25" name="cpassword" />
                </td>
            </tr>
            <?php if($data['id'] == 0): ?>
            <tr>
                <td class="label">是否启用</td>
                <td>
                	<input type="radio" name="is_use" value="1" <?php if($data['is_use'] == '1') echo 'checked="checked"'; ?> />启用
                	<input type="radio" name="is_use" value="0" <?php if($data['is_use'] == '0') echo 'checked="checked"'; ?> />禁用
                </td>
            </tr>
             <?php else :?>

                <input type="hidden" name="is_use" value="1" />


            <?php endif; ?>

            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " onclick="return check(this.form)" />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
{include file="/layout/footer"}