<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=0.41, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="/index/css/index.css" media="screen, projection"/>
    <link href="/admin/Styles/general.css" rel="stylesheet" type="text/css"  />
    <link href="/admin/Styles/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/index/css/index.css" media="screen, projection"/>
    <!-- <script type="text/javascript" charset="utf-8" src="/admin/Js/Syunew3.js"></script>
    <script type="text/javascript" charset="utf-8" src="/admin/Js/Ukey.js"></script> -->

</head>
<body onload="load()">
<h1>
    <span class="action-span1">南阳市行贿信息平台管理</span>
</h1>
<div class="list-div">
    <table cellspacing='1' cellpadding='3'>
        <tr>
            <th colspan="4" class="group-title">系统信息</th>
        </tr>
        <tr>
            <td width="20%">服务器操作系统:</td>
            <td width="30%">linux</td>
            <td width="20%">服务器IP:</td>
            <td width="30%">000.00.000.00</td>
        </tr>
        <tr>
            <td>PHP 版本:</td>
            <td>5.5</td>
            <td>MySQL 版本:</td>
            <td>5.5</td>
        </tr>
        <tr>
            <td>网页物理路径:</td>
            <td>/www/ny_xinghui/application/admin</td>
            <td>您当前的IP地址</td>
            <td><?php echo $ip; ?></td>
        </tr>
        <tr>
            <td>时区设置:</td>
            <td>PRC</td>
            <td>Zlib 支持:</td>
            <td>是</td>
        </tr>
        <tr>
            <td>Socket 支持:</td>
            <td>是</td>
            <td>安全模式:</td>
            <td>否</td>
        </tr>
        <tr>
            <td>技术支持</td>
            <td>南阳双睿网络科技有限公司</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

    </table>
</div>
{include file='layout/footer'}