{include file="/layout/header"}
<script type="text/javascript" charset="utf-8" src="/admin/Js/showdate.js"></script>
<h1>
    <span class="action-span"><a href="/index.php/admin/notice/lst_tb">系统通报列表</a></span>
    <span class="action-span1"><a href="#">添加系统通报</a></span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form name="main_form" method="POST" action="" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">通报标题：</td>
                <td>
                    <input style="width: 300px" type="text" id="tb_title" name="tb_title" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">通报内容：</td>
                <td>
                    <textarea  name="tb_content" style="width: 90%" rows="10"  id="tb_content" placeholder="请填写行贿行为的事实经过..."></textarea>
                </td>
            </tr>
            <tr>
                <td class="label">添加时间：</td>
                <td>
                    <input  type="text" id="tb_time" name="tb_time" value="" onclick="return Calendar('tb_time');"/>
                </td>
            </tr>
            <tr>
                <td class="label">是否显示：</td>
                <td>
                    <input type="radio" name="tb_status" value="0" checked="checked"  />显示
                    <input type="radio" name="tb_status" value="1"  />隐藏
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " onclick="return check(this.form)" />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    function check(){
        if($("#tb_title").val()==''|| $("#tb_title").val()==null) {
            alert('通报标题不能为空');
            return false;
        }
        if($("#tb_content").val()==''|| $("#tb_content").val()==null) {
            alert('通报内容不能为空');
            return false;
        }
        if($("#tb_time").val()==''|| $("#tb_time").val()==null) {
            alert('添加时间不能为空');
            return false;
        }
    }
</script>
{include file="/layout/footer"}