{include file="/layout/header"}
<h1>
    <span class="action-span1">查询统计</span>
    <script type="text/javascript" charset="utf-8" src="/admin/Js/showdate.js"></script>
    <div class="form-div search_form_div">
    <form method="get" action="" name="search_form">
        <input id="company_name" style="margin-left:40%;" placeholder="请输入查询条件" type="text" name="keyword" size="20" value="<?php if(!empty($keyword))echo $keyword;?>"/>
         <select id="diqu" name="diqu">
                                <option value="">地区</option>
                               <!--  <?php if($c_diqu ==1){
                                echo '<option value="1" selected="selected">总体</option>';
                            }else{
                                echo '<option value="1" >总体</option>';
                                } ?> -->
                                {volist name="diqu" id = "dq"}
                                        {if $dq.b_name ==$c_diqu}
                                            <option value="{$dq.b_name}" selected="selected">{$dq.b_name}</option>
                                        {else}
                                            <option value="{$dq.b_name}">{$dq.b_name}</option>
                                        {/if}
                                {/volist}
        </select>
        <select id="danwei" name="danwei">
                                <option value="">单位</option>
                                {volist name="danwei" id = 'dw'}
                                        {if $dw.b_name ==$c_danwei}
                                            <option value="{$dw.b_name}" selected="selected">{$dw.b_name}</option>
                                        {else}
                                            <option value="{$dw.b_name}">{$dw.b_name}</option>
                                        {/if}
                                {/volist}
        </select>
        <select name="tsize">
            {if $page_row == 10}
                <option value="10" selected="selected">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            {elseif $page_row ==15}
                <option value="10" >10</option>
                <option value="15" selected="selected">15</option>
                <option value="20">20</option>
            {elseif $page_row ==20}
                <option value="10" >10</option>
                <option value="15" >15</option>
                <option value="20" selected="selected">20</option>
            {/if}
                </select>
                <span>条/页</span>
        <input type="submit" value=" 检索 " class="button" style="margin-left: 15px"/>
    <span class="action-span"><a href="/index.php/admin/allcount/export_cx">导出Excel表</a></span>
    </form>
</div>
</h1>
<!-- 列表 -->
<div class="list-div" id="listDiv">
    <table cellpadding="3" cellspacing="1">

        <tr>
            <th >查询管理员单位</th>
            <th >查询关键词</th>
            <th >查询结果数量</th>
            <th >申请处置数量</th>
            <th >查询时间</th>
            <th >详细信息</th>
        </tr>
        <?php foreach($info as $k =>$v): ?>
        <tr class="tron">
            <td align="center"><?php echo $v['username']; ?></td>
            <td align="center"><?php echo $v['keyword']; ?></td>
            <td align="center"><?php echo $v['find_num']; ?></td>
            <td align="center"><?php echo $v['chuzhi_num']; ?></td>
            <td align="center"><?php echo $v['find_time']; ?></td>
            <td align="center"><a href="/index.php/admin/allcount/cx_sq_chuzhi/id/<?php echo $v['id']; ?>">查看详情</a></td>
        </tr>
        <?php endforeach; ?>
        <tr>
            <td align="right" nowrap="true" colspan="14" height="30">{$page}</td>
        </tr>

    </table>
</div>
{include file="/layout/footer"}

<script type="text/javascript">
    $("tr.tron").mouseover(function(){
        $(this).find("td").css("backgroundColor", "#DDEEF2");
    });
    $("tr.tron").mouseout(function(){
        $(this).find("td").css("backgroundColor", "#FFF");
    });
    function checkForm(form){
        var t1 = $('#xinhui_time').val();
        var t2 = $('#xinhui_time2').val();
        var my_d = new Date();
        // alert('8888');
        
       //  var y = my_d.getFullYear();
       // var  m= my_d.getMonth()+1;
       // var d= my_d.getDate();
       // var t =y+'-'+m+'-'+d;
       var d1 = new Date(t1.replace(/\-/g, "\/"));
       var d2 = new Date(t2.replace(/\-/g, "\/"));
       if(t2!==''){
        if(t1==''){
            alert('请选择开始时间');
                return false;
        }
            if(d1>my_d || d2>my_d){
                alert('无法超前查询');
                return false;
            }
            if(d1>d2){
                alert('开始时间不能大于结束时间');
                return false;
            }
       }
    }

    function showSite(str)
{
    var test = window.location.search;
    var now_i = window.location.href;
    if(test=="")
    {
        var url = now_i+'?tsize='+str;
    }else{
        var url = now_i+'&tsize='+str;
    }
    
    
    alert(url);
    if (str=="")
    {
        // document.getElementById("tsize").innerHTML="10";
        return;
    } 
    if (window.XMLHttpRequest)
    {
        // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
        xmlhttp=new XMLHttpRequest();
    }
    else
    {
        // IE6, IE5 浏览器执行代码
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
        }
    }
    xmlhttp.open("GET",url,true);
    xmlhttp.send();
}
</script>