<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=0.41, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="/public/index/css/index.css" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="/public/index/css/fy_menu.css" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="/public/index/css/fy_menu2.css" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="/public/index/css/fy_menu3.css" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="/public/index/css/cw_menu.css" media="screen, projection"/>
    <script type="text/javascript" src="/public/index/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/public/index/js/menu.js"></script>

    <link href="/public/index/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
    <script src="/public/index/js/circle.js"></script>
    <script src="/public/index/js/jquery.circliful.min.js"></script>
</head>