<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport"
          content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;"/>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <link href="/admin/style_new/gonggao_xiang.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
    <div class="main">
        <div class="title_div">控件安装</div>
        <a href="/kongjian/SetUp.EXE">点击安装控件</a>
    </div>
</div>
</body>
</html>