{include file="/layout/header"}
<body class="menu_body" style="min-width: 160px;">
   <div class="menu_main">
       <div class="menu_main_one">
           <div class="menu_main_one_img"></div>
           <div class="menu_main_one_text"></div>
       </div>
       <div class="menu_main_two">
           <div class="menu_div" id="panent_1" onclick="alert_zi(1)" >
               <div class="menu_div_one">
                   <img src="/public/index/images/fangyuanzhongxin_03.png" width="26px"  />
               </div>
               <div class="menu_div_two">
                   房源中心
               </div>
               <div class="youla"></div>
           </div>
           <!--子栏  start-->
           <div class="zi_menu" style="height: 160px" >
               <a href="/erfangdong/pcmenu/fy_fangguan" target="main-frame">
                   <div class="zi_menu_div" id="zi_1" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(1)" >
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           房间管理
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/fy_yeguan" target="main-frame">
                   <div class="zi_menu_div" id="zi_2" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(2)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           业主管理
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/fy_chaobiao" target="main-frame">
                   <div class="zi_menu_div" id="zi_3" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(3)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           批量抄表
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/fy_chuijiao" target="main-frame">
                   <div class="zi_menu_div" id="zi_4" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(4)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           短信催缴
                       </div>
                   </div>
               </a>
           </div>
           <!--子栏  end-->


           <div class="menu_div" id="panent_2" onclick="alert_zi(2)">
               <div class="menu_div_one">
                   <img src="/public/index/images/fangyuantuiguang_03.png" width="26px"  />
               </div>
               <div class="menu_div_two">
                   房源推广
               </div>
               <div class="youla"></div>
           </div>
           <!--子栏  start-->
           <div class="zi_menu" style="display: none;height: 160px;">
               <a href="/erfangdong/pcmenu/fy_fabu" target="main-frame">
                   <div class="zi_menu_div" id="zi_5" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(5)" >
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           发布新房
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/fy_weihu" target="main-frame">
                   <div class="zi_menu_div" id="zi_6" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(6)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           发布维护
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/fy_erweima" target="main-frame">
                   <div class="zi_menu_div" id="zi_7" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(7)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           楼房二维码
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/fy_weixin" target="main-frame">
                   <div class="zi_menu_div" id="zi_8" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(8)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           微信小站
                       </div>
                   </div>
               </a>
           </div>
           <!--子栏  end-->

           <div class="menu_div" id="panent_3" onclick="alert_zi(3)" >
               <div class="menu_div_one">
                   <img src="/public/index/images/caiwuguanli_03.png" width="26px"  />
               </div>
               <div class="menu_div_two">
                   财务管理
               </div>
               <div class="youla"></div>
           </div>

           <!--子栏  start-->
           <div class="zi_menu"  style="display: none;height: 160px;">
               <a href="/erfangdong/pcmenu/cw_cwhuizong" target="main-frame">
                   <div class="zi_menu_div" id="zi_9" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(9)" >
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           财务汇总
                       </div>
                   </div>
               </a>

               <a href="/erfangdong/pcmenu/cw_liushui" target="main-frame">
                   <div class="zi_menu_div" id="zi_10" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(10)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           财务流水
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/cw_daozhang" target="main-frame">
                   <div class="zi_menu_div" id="zi_11" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(11)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           到账记录
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/cw_cwleibie" target="main-frame">
                   <div class="zi_menu_div" id="zi_12" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(12)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           财务类别
                       </div>
                   </div>
               </a>
           </div>
           <!--子栏  end-->

           <div class="menu_div" id="panent_4" onclick="alert_zi(4)" >
               <div class="menu_div_one">
                   <img src="/public/index/images/baobiaozhongxin_03.png" width="26px"  />
               </div>
               <div class="menu_div_two">
                   报表中心
               </div>
               <div class="youla"></div>
           </div>

           <!--子栏  start-->
           <div class="zi_menu"  style="display: none;height: 280px;" >
               <a href="/erfangdong/pcmenu/bb_fangpei" target="main-frame">
                   <div class="zi_menu_div" id="zi_13" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(13)" >
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           房源配置报表
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/bb_zkmesg" target="main-frame">
                   <div class="zi_menu_div" id="zi_14" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(14)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           租客信息报表
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/bb_hymesg" target="main-frame">
                   <div class="zi_menu_div" id="zi_15" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(15)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           合约信息报表
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/bb_czmesg" target="main-frame">
                   <div class="zi_menu_div" id="zi_16" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(16)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           出租信息报表
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/bb_ybmesg" target="main-frame">
                   <div class="zi_menu_div" id="zi_17" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(17)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           仪表刻度报表
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/bb_szmesg" target="main-frame">
                   <div class="zi_menu_div" id="zi_18" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(18)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           收租记录报表
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/bb_szsimple" target="main-frame">
                   <div class="zi_menu_div" id="zi_19" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(19)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two" >
                           收租记录报表(简版)
                       </div>
                   </div>
               </a>

           </div>
           <!--子栏  end-->
           <div class="menu_div" id="panent_5" onclick="alert_zi(5)" >
               <div class="menu_div_one">
                   <img src="/public/index/images/zhinengshebei_03.png" width="26px"  />
               </div>
               <div class="menu_div_two">
                   智能设备
               </div>
               <div class="youla"></div>
           </div>

           <!--子栏  start-->
           <div class="zi_menu" style="display: none;height: 120px;" >
               <a href="/erfangdong/pcmenu/zn_znpeizhi" target="main-frame">
                   <div class="zi_menu_div" id="zi_20" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(20)" >
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           智能仪表配置
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/zn_znyufufei" target="main-frame">
                   <div class="zi_menu_div" id="zi_21" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(21)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           智能仪表预付费
                       </div>
                   </div>
               </a>
               <a href="/erfangdong/pcmenu/zn_menshuo" target="main-frame">
                   <div class="zi_menu_div" id="zi_22" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(22)">
                       <div class="zi_menu_div_one">
                           <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                       </div>
                       <div class="zi_menu_div_two">
                           智能门锁配置
                       </div>
                   </div>
               </a>
           </div>
           <!--子栏  end-->

           <a href="/erfangdong/pcmenu/fuwu_store" target="main-frame">
           <div class="menu_div" id="zi_27"  onclick="is_img(27)">
               <div class="menu_div_one">
                   <img src="/public/index/images/fuwu_03.png" width="26px"  />
               </div>
               <div class="menu_div_two">
                   服务商城
               </div>
               <div class="youla"></div>
           </div>
           </a>

           <div class="menu_div" id="panent_6" onclick="alert_zi(6)" >
               <div class="menu_div_one">
                   <img src="/public/index/images/shezhi_03.png" width="26px"  />
               </div>
               <div class="menu_div_two">
                   系统设置
               </div>
               <div class="youla"></div>
           </div>

           <!--子栏  start-->
           <div class="zi_menu"  style="display: none;height: 160px;" >
               <a href="/erfangdong/pcmenu/xt_quanxian" target="main-frame">
               <div class="zi_menu_div" id="zi_23" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(23)" >
                   <div class="zi_menu_div_one">
                       <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                   </div>
                   <div class="zi_menu_div_two">
                       权限管理
                   </div>
               </div>
               </a>
               <a href="/erfangdong/pcmenu/xt_workblog" target="main-frame">
               <div class="zi_menu_div" id="zi_24" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(24)">
                   <div class="zi_menu_div_one">
                       <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                   </div>
                   <div class="zi_menu_div_two">
                       工作日志
                   </div>
               </div>
               </a>
               <a href="/erfangdong/pcmenu/xt_bianming" target="main-frame">
               <div class="zi_menu_div" id="zi_25" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(25)">
                   <div class="zi_menu_div_one">
                       <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                   </div>
                   <div class="zi_menu_div_two">
                       便民信息
                   </div>
               </div>
               <a href="/erfangdong/pcmenu/xt_systemset" target="main-frame">
               <div class="zi_menu_div" id="zi_26" onmouseover="qie_color(this)" onmouseout="qie_colors(this)"  onclick="is_img(26)">
                   <div class="zi_menu_div_one">
                       <img src="/public/index/images/sanjiao_03.png" width="10px" height="16px" />
                   </div>
                   <div class="zi_menu_div_two">
                       系统设置
                   </div>
               </div>
               </a>
           </div>
           <!--子栏  end-->

           <div class="zuo_div">

           </div>
       </div>
   </div>
   <div class="alert_kuang" style="display: none">

   </div>
</body>
</html>